* {
  margin: 0;
}
.css-14ag4d-MuiDrawer-docked .MuiDrawer-paper {
  margin-top: 73px;
}

.css-qoir6s-MuiDrawer-docked .MuiDrawer-paper {
  margin-top: 73px;
}
.css-1818qlc-MuiDrawer-docked .MuiDrawer-paper {
  margin-top: 73px;
}

.dsa-container {
  background-image: url("./images/bg-dsa.jpg");
  width: 100%;
  height: 100%;
}
